.contact-content {
    height: 120vh;
    /* background-color: rgb(224, 224, 248); */
    margin-top: 32px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}

.contact-content::after {
    content: "";
    background-image: url('../img/articleimage.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
}

.contact-form, .contact-form .form-box, .contact-content h2{
    position: relative;
    z-index:1;
}
